:root {
    --rojo-primario: #C1121F;
    --rojo-fondo: #780000;
    --negro-pers: #1B1B1B;
    --blanco-contraste: #FDF0D5;
    --daurat-accent: #FFB703;
}

/* GENERAL */
body {
    background-color: var(--blanco-contraste);
    margin: 0;
}

h2 {
    font-size: 35px;
}

main h2, h3, p {
    color: var(--negro-pers);
}

/* HEADER */
header {
    background-color: var(--rojo-fondo);
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    color: var(--blanco-contraste);
    position: absolute;
}

header a {
    color: var(--blanco-contraste);
    text-decoration: none;
}

nav {
    margin-left: 60%;
}

nav a {
    margin: 5px;
}

/* GRUP NOTICIES */
.Grupnoticies {
    margin: 100px auto 0 auto;
    max-width: 45%;
    min-width: 45%;
}

.Grupnoticies h2 {
    text-align: center;
}

.Noticia {
    margin: 10px;
}

.Noticia h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.TextFoto {
    display: flex;
    justify-content: space-between;
}

.TextFoto img {
    border-radius: 3px;
    margin-left: 40px;
    max-width: 400px;
    max-height: 400px;
}

hr {
    border: none;
    height: 2px;
    background-color: var(--rojo-primario);
}

/* TARJETAS JUGADORES */
.targetes-jugadors {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.targeta-jugador {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Imagen fondo */
.imatge-fondo {
    width: 439px;
    height: 439px;
    height: auto;
    object-fit: cover;
}

/* Imagen jugador arriba */
.imatge-a-dalt {
    position: absolute;
    top: 40px;
    width: 160px;
      height: 160px ;
}

/* NOMBRE CENTRADO HORIZONTAL Y VERTICAL */
.Nom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 20px;
    color: var(--negro-pers);
    text-align: center;
}

/* INFO DEBAJO DEL NOMBRE */
.info {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 16px;
    color: var(--negro-pers);
    text-align: center;
}

.select2-container {
    width: 250px !important; /* ancho del select */
    height: 70px;
}

.select2-container .select2-selection--single {
    height: 70px;           /* altura total del área visible */
    line-height: 50px;      /* centra verticalmente el texto */
    border-radius: 8px;     /* opcional: bordes redondeados */
}